.class {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.Middle {
    width: 1400px;
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Boxs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ani {
    animation-name: anima;
    animation-duration: 5s;
    font-size: 150%;
  }
  
  @keyframes anima{
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}


@keyframes ani1{
    0% {top: 700px; visibility: hidden; opacity: 0;}
    100% {top: 0px; visibility: visible; opacity: 1;}
}

.classBox {
    background-color: rgb(245, 244, 244);
    width: 420px;
    height: 100px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.miniBox{
    width: 85%;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5%;
}

.title {
    margin: 0;
    color: #67eb7f;
    font-size: 230%;
}

.information {
    font-weight: 300;
    color: grey;
}