.class {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;

    align-items: center;
}

.Middle {
    width: 75%;
    margin-top: 7.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Boxs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ani {
    animation-name: anima;
    animation-duration: 5s;
    font-size: 150%;
  }
  
  @keyframes anima{
    0% {visibility: hidden; opacity: 0;}
    100% {visibility: visible; opacity: 1;}
}

.classBox {
    animation-duration: 3s;
    width: 100%;
    position: relative;
    animation-name: ani1;
    animation-duration: 1s;
}

@keyframes ani1{
    0% {top: 700px; visibility: hidden; opacity: 0;}
    100% {top: 0px; visibility: visible; opacity: 1;}
}
@media screen and (max-width: 1265px) {
    .middle{
        width: 50%;
    }
}
